<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>попытка №5</title>
    <script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
    <script src="https://www.amcharts.com/lib/3/serial.js"></script>
    <script src="https://www.amcharts.com/lib/3/plugins/export/export.min.js"></script>
    <link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
    <script src="https://www.amcharts.com/lib/3/themes/dark.js"></script>
    <link href="/static/style.css" type="text/css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Bad+Script|Scada" rel="stylesheet">
</head>
<body>
<p>
        <table class="headtable">
            <tr>
                <th><a href="{{ main_url }}">Главная</a></th>
            </tr>
        </table>
</p>
<h1>Сцена</h1>
<script src="/static/graph_scene.js"></script>
<div id="chartdiv_scene" style="width: auto; height: 800px; margin: auto;"></div>

</body>
</html>